{% extends "administration_unit.html" %}

{% block title %}Wyniki dla gminy {{ unit.name }}{% endblock %}

{% block header %}
<div class="bordered_element" style="display: flex">
    <div class="label">
        <div class="propertyName">
            Gmina:
        </div>
        <div class="propertyValue">
            {{ unit.name }}
        </div>
    </div>
</div>
{% endblock %}

{% block sub_units_footer %}
<h1 style="text-align: center">Wyniki w obwodach:</h1>
<ul id="subUnits" style="text-align: center">
    {% for unit in subUnits %}
    <li><a href="../{{subUnitPath}}{{ unit.id }}.html">{{ unit.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}