<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .label {
            width: 33%;
            margin-bottom: 10px;
            float: left;
        }

        .bordered_element {
            padding: 5px;
            border: 1px solid black;
        }

        .propertyName {
            float: left;
            width: 35%;
            font-weight: bold;

        }

        .propertyValue {
            float: left;
            width: 65%;
        }
    </style>
</head>
<body>
<div class="bordered_element">
    <div class="label">
        <div class="propertyName">
            Gmina:
        </div>
        <div class="propertyValue">
            Końskie
        </div>
    </div>
    <div class="label">
        <div class="propertyName">
            Obwód nr.
        </div>
        <div class="propertyValue">
            1
        </div>
    </div>
    <div class="label">
        <div class="propertyName">
            Typ obwodu:
        </div>
        <div class="propertyValue">
            1
        </div>
    </div>
    <div class="label" style="float: none; display: table">
        <div class="propertyName">
            Adres:
        </div>
        <div class="propertyValue">
            Szkoła Podstawowa Nr 6 Brzeg Dolny ul. Ks. Stefana Kardynała Wyszyńskiego 2
        </div>
    </div>
</div>
<div style="display: flex;">
    <div  style="width: 50%; float:left;">
        <h1 style="text-align: center"> Wyniki wyborów w liczbie glosow</h1>
        <div class="bordered_element" style="height: 400px">

        </div>
    </div>
    <div  style="width: 50%; float:left;">
        <h1 style="text-align: center"> Wyniki wyborów procentowe</h1>
        <div class="bordered_element" style="height: 400px">

        </div>
    </div>
</div>
<h1 style="text-align: center">Zobacz wyniki dla gmin</h1>

</body>
</html>