{% extends "administration_unit.html" %}

{% block title %}Wyniki dla obwodu nr. {{ unit.name }}{% endblock %}

{% block header %}
<div class="label">
    <div class="propertyName">
        Gmina:
    </div>
    <div class="propertyValue">
        {{unit.gmina}}
    </div>
</div>
<div class="label">
    <div class="propertyName">
        Obwód nr.
    </div>
    <div class="propertyValue">
        {{unit.name}}
    </div>
</div>
<div class="label">
    <div class="propertyName">
        Typ obwodu:
    </div>
    <div class="propertyValue">
        {{unit.type}}
    </div>
</div>
<div class="label">
    <div class="propertyName">
        Adres:
    </div>
    <div class="propertyValue">
        {{unit.address}}
    </div>
</div>
{% endblock %}

{% block sub_units_footer %}
{% endblock %}