{% extends "administration_unit.html" %}

{% block title %}Wyniki w woj.{{ unit.name }}{% endblock %}

{% block header %}
<div class="label">
   <div class="propertyName">
        Województwo:
    </div>
    <div class="propertyValue">
        {{ unit.name }}
    </div>
</div>
{% endblock %}

{% block sub_units_footer %}
<h1 style="text-align: center">Wyniki w okregach wyborczych:</h1>
<ul id="subUnits" class="list">
    {% for unit in subUnits %}
    <li><a href="../{{subUnitPath}}{{ unit.id }}.html">Okrąg wyborczy nr. {{ unit.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}